<h1>Welcome to Masons rails project</h1>
<p>
	Find me in app/views/pages/home.html.erb
	Mason's rails experiment
	<a href="what the fuck does this"> do </a>

	<%= link_to "One Month Rails", "http://shotgunsoftware.com" %>




</p>
<p> Mason rocks </p>