<div class="hero-unit">
	<h1>Shotgun Support Videos</h1>
	<p>
		Mason's support video experiment. Looking for the 
		<%= link_to "Shotgun website", "http://shotgunsoftware.com" %>
		?
	</p>
	<p>
		<%= link_to "Sign up now!", '' %>


</div>

<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail one</h3>
      <iframe src="https://fast.wistia.net/embed/iframe/l8emkgdbny?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
      <p>Thumbnail one caption...</p>

      <img data-src="holder.js/300x200" alt="">
      <h3>Thumbnail two</h3>
      <iframe src="https://fast.wistia.net/embed/iframe/l8emkgdbny?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
      <p>Thumbnail two caption...</p>
    </div>

  </li>

</ul>

<div class="box effect2">
  <h3>Effect 2</h3>
</div>

    </div>
  </div>
</div>
