<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">The Basics</a></li>
    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
    <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="page-header">
      <h1>The Basics <p><small>Here's where we'll look at the simple stuff</small></p></h1>
      </div>

      <p>I'm in Section 1.</p>

      <ul class="thumbnails">
        <li class="span3">
          <a href="blah" class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
            <iframe src="https://fast.wistia.net/embed/iframe/l8emkgdbny?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
            <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
            <h3>Thumbnail label</h3>
            <p>Thumbnail caption...</p>
          </a>
        </li>
        <li class="span3">
          <a href="blah" class="thumbnail">
            <img data-src="holder.js/300x200" alt="What">
            <h3>Thumbnail label</h3>
            <p>Thumbnail caption...</p>
          </a>
        </li>
        <li class="span3">
          <a href="blah" class="thumbnail">
            <img data-src="holder.js/300x200" alt="What">
            <h3>Thumbnail label</h3>
            <p>Thumbnail caption...</p>
          </a>
        </li>
      </ul>

    </div>

    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
    <div class="tab-pane" id="tab3">
      <p>Just guessin now.</p>
    <div>
  </div>
</div>